.app {
  min-height: 100vh;
  background-color: rgb(228, 228, 228);
}
p{
  text-align: center;
}
.post {
  margin-top: 15px;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.post-div{
  display: flex;
  justify-content: space-around;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputs{
  margin-top: 0;
  width: 100%;
  place-items: center;
}
label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

.message{
  height: 50px;
  width: 500px;
}
input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  width: 5rem;
}

button:hover {
  box-shadow: none;
}